*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    background: linear-gradient(40deg, blue, red);

}
.container h1{
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}
.inner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background:linear-gradient(to right,gray,transparent,gray);
    height: 250px;
    width: 250px;
}
#round{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius:50% ;
    height: 40%;
    width: 40%;
    background-color: red;
    transition: transform 1s ease;
}
#shape{
    background-color: blue;
    width: 55%;
    height: 55%;
}
#btn1 ,#btn2{
    padding: 10px 15px;
    border-radius: 20px;
    background:linear-gradient(to left, rgb(208, 207, 207),gray);
    cursor: pointer;   
}

