body {
    font-family: Arial, sans-serif;
    background-color: rgb(155, 142, 142);
  
}
#showemoji {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #d7c9d8;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    cursor: pointer;
}
#showemoji > div
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 20px;
    cursor: pointer;
    background-color: gray;
    border:white solid ;
   
    
   
    
}
#showemoji > div:hover

{
    animation-name: example;
  animation-duration: 0.1s ;
     
}
@keyframes example {
    0% { transform : rotate(0deg); 
        }
    25% { transform : rotate(90deg);}
    50% { transform : rotate(180deg); }
    75% { transform : rotate(270deg); }
    100% { transform : rotate(360deg); }
    
}
#showemoji > div >span{
    font-size: 50px;

}
form{
    margin: 40px;
}
button{
    margin-top: 35px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
}

#search
{
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #d8f2d8;
    color: rgb(76, 61, 61);
    border-radius: 4px;
    width: 150px;
}
label{
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 10px;
    font-style:italic;
}
.footer
{   
    margin-top: 150px;
    /* font-size: 12px; */
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
    color: #203121;
}