*{
    margin: 0;
    padding: 0%;

}
body{
    width: 100vw;
    height: 100vh;
    background-image: conic-gradient(rgb(236, 115, 115), yellow, rgb(98, 206, 98));
    /* background-size: cover;
    background-repeat: no-repeat; */
}

.button_group
{
    height: 200px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 4rem;
    background: linear-gradient(to left ,#E3CED4,#C483AE,#C2D84B);
    border-radius: 20px;
    margin: 4px;
}
.button_group button{
    width: 50px;
    height: 50px;
    background: #333;
    color: azure;
    border-radius: 50px;
}

.button_group span{
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 500;
}
.button_group:hover
{
    cursor: pointer;
    background: #666;
    color: white;
    transition: background 0.5s ease-in-out;
}
h1{
    margin: 20px;
    font-size: 4rem;
}
form{
    margin-top: 80px;
}
input{
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    font-size: 1.2rem;
}
button
{
    padding: 10px 20px;
    border-radius: 10px;
    background: linear-gradient(to right, #4CAF50, #2196F3);
    color: white;
    cursor: pointer;
}
